<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
label{
font-size:19px;
}
span{
text-align:left;
}
</style>
</head>
<body>
<div>
<span>
<h2>HomeMyntra Fashion Store</h2><br>
<h2>Myntra Fashion Store- 1388 items</h2><br>
<h2><pre>Filters    clearall</pre></h2><br>
</span>
<span><br>
<input type="radio" value="Mens">
 <label for="men">Mens</label><br>
<input type="radio" value="women">
<label for="Womens">womens</label>
<br>
<input type="radio" value="girsl">
 <label for="girsl">girsl</label><br>
<input type="radio" value="boys">
 <label for="boys">boys</label><br>
</span>
<span>
<h2>Categories</h2><br>
<input type="checkbox" name="T Shirts">
 <label for="T Shirts">T Shirts</label><br>
<input type="checkbox" name="Shirts">
 <label for="Shirts">Shirts</label><br>
<input type="checkbox" name="sarees">
 <label for="sarees">sarees</label><br>
<input type="checkbox" name="kurthas">
 <label for="kurthas">kurthas</label><br>
<input type="checkbox" name="wallets">
 <label for="wallets">wallets</label><br>
<input type="checkbox" name="trousers">
 <label for="trousers">trousers</label><br>
<input type="checkbox" name="Belts">
 <label for="Belts">Belts</label><br>
<input type="checkbox" name="Casual shoes">
 <label for="Casual shoes">Casual shoes</label><br>
<input type="checkbox" name="watches">
 <label for="watches">watches</label><br>
<input type="checkbox" name="Jeans">
 <label for="Jeans">Jeans</label><br>
</span><br>
<span>
<h2>Brands</h2><br>
<input type="checkbox" name="Roadster">
 <label for="Roadster">Roadster</label><br>
<input type="checkbox" name="macmerise">
 <label for="macmerise">macmerise</label><br>
<input type="checkbox" name="999store">
 <label for="999store">999store</label><br>
<input type="checkbox" name="ecraftfund">
 <label for="ecraftfund">ecraftfund</label><br>
<input type="checkbox" name="flyingmachine">
 <label for="flyingmachine">flyingmachine</label><br>
<input type="checkbox" name="puma">
<label for="puma">puma</label><br>
<input type="checkbox" name="mast&harbour">
 <label for="mast&harbour">mast&harbour</label><br>
</span><br>
<span>
<h2>Brands</h2><br>
<input type="checkbox" name="Rs 1019 to Rs 3914">
 <label for="Rs 1019 to Rs 3914">Rs 1019 to Rs 3914</label><br>
<input type="checkbox" name="Rs 3914 to Rs 6809">
 <label for="Rs 3914 to Rs 6809">Rs 3914 to Rs 6809</label><br>
<input type="checkbox" name="Rs 6809 to Rs 9704">
 <label for="Rs 6809 to Rs 9704">Rs 6809 to Rs 9704</label><br>
<input type="checkbox" name="Rs 9704 toRs 12599">
 <label for="Rs 9704 toRs 12599">Rs 9704 toRs 12599</label><br>
</span>
<br><br>
<span>
<h2>Colors</h2><br>
<input type="radio" name="red">
 <label for="red">red</label><br>
<input type="radio" name="green">
 <label for="green">green</label><br>
<input type="radio" name="white">
 <label for="white">white</label><br>
<input type="radio" name="black">
 <label for="black">black</label><br>
<input type="radio" name="pink">
<label for="pink">pink</label><br>
<input type="radio" name="yellow">
 <label for="yellow">yellow</label><br>
<input type="radio" name="maroon">
 <label for="maroon">maroon</label><br>
<input type="radio" name="blue">
 <label for="blue">blue</label><br>
</span><br><br>
<span>
<h2>Discount range</h2><br>
<input type="radio" name="10% above">
 <label for="10% above">10% above</label><br>
<input type="radio" name="20% above">
 <label for="20% above">20% above</label><br>
<input type="radio" name="30% above">
 <label for="30% above">30% above</label><br>
<input type="radio" name="40% above">
 <label for="40% above">40% above</label><br>
<input type="radio" name="50% above">
 <label for="50% above">50% above</label><br>
<input type="radio" name="60% above">
 <label for="60% above">60% above</label><br>
<input type="radio" name="70% above">
 <label for="70% above">70% above</label><br>
<input type="radio" name="80% above">
 <label for="80% above">80% above</label><br>
<input type="radio" name="90% above">
 <label for="90% above">90% above</label><br>

</span>



</div>

</body>
</html>